stages:
- build
- scan
- push

variables:
  IMAGE_TAG: "1.11"
  TRIVY_VERSION: "0.67.2"

.build:
  image: al3xos/ci-tools:latest
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2

.docker-login:
  before_script:
    - until docker info >/dev/null; do sleep 1; echo "Waiting for docker startup"; done

build:
  stage: build
  extends:
    - .build
    - .docker-login
  script:
    - docker build -t al3xos/nginx-with-prometheus:${IMAGE_TAG}-intermediate .
    - docker push al3xos/nginx-with-prometheus:${IMAGE_TAG}-intermediate

scan:
  stage: scan
  extends:
    - .build
    - .docker-login
  script:
    - wget https://github.com/aquasecurity/trivy/releases/download/v"${TRIVY_VERSION}"/trivy_"${TRIVY_VERSION}"_Linux-64bit.tar.gz
    - tar zxf trivy_"${TRIVY_VERSION}"_Linux-64bit.tar.gz && mv trivy /usr/local/bin/trivy
    - trivy image --vuln-type os --security-checks vuln --exit-code 1 --severity CRITICAL,HIGH "al3xos/nginx-with-prometheus:${IMAGE_TAG}-intermediate"
  allow_failure: true

push:
  stage: push
  extends:
    - .build
    - .docker-login
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - docker pull al3xos/nginx-with-prometheus:${IMAGE_TAG}-intermediate
    - docker tag al3xos/nginx-with-prometheus:${IMAGE_TAG}-intermediate al3xos/nginx-with-prometheus:${IMAGE_TAG}
    - docker push al3xos/nginx-with-prometheus:${IMAGE_TAG}
